<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>List Customers</title>
    
    <!-- reference our style sheet -->
    <link type="text/css" rel="stylesheet" th:href="@{/css/list-customers-styles.css}" />
</head>
<body>
<noscript>
    <h2>Sorry! Your browser doesn't support Javascript</h2>
</noscript>
    <div id="wrapper">
        <div id="header">
            <h2>CRM - Customer Relationship Manager</h2>
        </div>
    </div>
    
    <!-- put a new button : Add Customer -->
    <div class="button-container-wrapper">
        <div class="button-container">
            <button id="addCustomerButton" name="addCustomerButton" type="button">Add Customer</button>
        </div>

        <div class="button-container">
            <button id="bulkUploadButton" name="bulkUploadButton" type="button">Bulk Upload</button>
        </div>

        <div class="button-container">
            <button id="aiAnalysisButton" name="aiAnalysisButton" type="button">Analyze using AI</button>
        </div>
    </div>

    
    <div id="container">
    
        <div id="content">
            <table>
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- loop over and print our customers -->
                    <tr th:each="tempCustomer : ${customers}">
                        <td th:text="${tempCustomer.firstName}"></td>
                        <td th:text="${tempCustomer.lastName}"></td>
                        <td th:text="${tempCustomer.email}"></td>
                        <td>
                            <!-- Display the update link -->
                            <a class="action-link" th:href="@{/customer/showFormForUpdate(customerId=${tempCustomer.id})}">Update</a>
                            |
                            <a class="action-link" th:href="@{/customer/showFormForDelete(customerId=${tempCustomer.id})}">Delete</a>
                            |
                            <a class="action-link" th:href="@{/order/list(customerId=${tempCustomer.id})}">Orders</a>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    
    </div>
    <footer>
        <p>Made with ❤️ by Dhananjai</p>
    </footer>
<script type="text/javascript" src="/js/main.js"></script>
</body>
</html>
