<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>List Customers</title>
    
    <!-- reference our style sheet -->
    <link type="text/css"
          rel="stylesheet"
          th:href="@{/css/style.css}" />
</head>
<body>
<noscript>
    <h2>Sorry! Your browser doesn't support Javascript</h2>
</noscript>
    <div id="wrapper">
        <div id="header">
            <h2>CRM - Customer Relationship Manager</h2>
        </div>
    </div>
    
    <!-- put a new button : Add Customer -->
    <div>
        <button id="addCustomerButton" name="addCustomerButton" type="button">Add Customer</button>
    </div>
    
    <div id="container">
    
        <div id="content">
	           
	           <!-- <input type="button" value="Add Customer"
                  
                   class="add-button" />
            
            <br> --> 
            
            
            <!--  add our html table here -->
        
            <table>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
                
                <!-- loop over and print our customers -->
                <tr th:each="tempCustomer : ${customers}">
                    
                    <!-- construct an "update" link with customer id -->
                    <td th:text="${tempCustomer.firstName}"></td>
                    <td th:text="${tempCustomer.lastName}"></td>
                    <td th:text="${tempCustomer.email}"></td>
                    
                    <td>
                        <!-- Display the update link -->
                        <a th:href="@{/customer/showFormForUpdate(customerId=${tempCustomer.id})}">Update</a>
                        |
                        <a th:href="@{/customer/showFormForDelete(customerId=${tempCustomer.id})}">Delete</a>
                    </td>
                </tr>
                        
            </table>
                
        </div>
    
    </div>
    
<script type="text/javascript"  src="/js/main.js"></script>
</body>
</html>
